.container {
  align-items: center;
  background-color: #323283;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
}

.container .text {
  font-size: 20px;
}
